:root {
    --black-bg: #171717;
    --white-font: #CFCFCF;
    --green-hover: #1DB954;
}

@media (min-width: 1040px){
    header {
        position: fixed;
        width: 100vw;
        display: grid;
        grid-template-columns: 10vw auto;
        column-gap: 0.8vw;
        background-color: var(--black-bg);
    }

    #logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #logo{
        width: 6vw;
    }

    #menu-container {
        display: grid;
        grid-template-columns: repeat(6, auto);
        column-gap: 0.8vw;
    }

    .menu-item {
        margin: 2vw auto;
        font-size: 1vw;
    }
    
    a:hover {
        color: var(--green-hover);
    }
    
    #hamburger {
        display: none;
    }
}
  