@media (min-width: 1040px){
    header {
        position: fixed;
        width: 100vw;
        display: grid;
        grid-template-columns: 10vw auto;
        column-gap: 0.8vw;
        background-color: var(--black-bg);
    }

    #logo-container {
        display: grid;
        margin: 0 auto;
        grid-template-rows: repeat(2, auto);
    }

    #logo {
        display: block;
        padding-top: 0.4vw;
        margin: 0 auto;
        width: 4.6vw;
    }

    #brand {
        font-family: var(--header-font-family);
        font-size: 1.2vw;
        font-weight: 500; 
    }

    #menu-container {
        display: grid;
        grid-template-columns: repeat(6, auto);
        column-gap: 0.8vw;
    }

    .menu-item {
        margin: 1vw auto;
        padding: 1vw;
        font-size: 1vw;
    }
    
    .menu-item:after {
        display: block;
        content: '';
        border-bottom: solid 2px var(--green-hover);  
        transform: scaleX(0);  
        transition: transform 140ms ease-in-out;
    }

    .menu-item:hover:after { 
        transform: scaleX(1); 
    } 

    #hamburger {
        display: none;
    }
}
  