.section-header {
    font-family: var(--header-font-family); 
    font-weight: 500;
}

.section-sub-header {
    color: var(--text-color);
    font-family: var(--header-font-family); 
    font-weight: 500;
}

.section-content {
    font-family: var(--font-family);
}

.download-btn {
    background-color: var(--green-hover-button);
    border: none;
    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    cursor: pointer;
    margin: auto;
}

.download-btn:active {
    border: 2px solid black;
    background-color: var(--green-hover);
}

.download-text {
    font-family: var(--font-family);
    margin: auto 0;
}



/******************** Desktop CSS ********************/
@media (min-width: 415px) {
    #main {
        padding-top: 8vw;
    }

    /*Main Document*/
    .section {
        padding: 0 16vw;
    }

    .section-header {
        font-size: var(--header-desktop);
        margin: 1.6vw 0;
    }

    .section-sub-header {
        font-size: var(--sub-header-desktop);
        margin: 2vw 0 0.2vw 0;
    }

    .section-content {
        font-size: var(--content-size);
    }

    #downloader-section {
        margin: 4vw;
        height: 8vw;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2vw;
    }

    .download-btn {
        height: 4.8vw;
        width: 18vw;
    }

    .download-btn:hover {
        height: 5.2vw;
        width: 18.4vw;
        background-color: var(--green-hover-button);
    }
    
    .download-text {
        font-size: 1.2vw;
    }

    .download-icon {
        margin-top: 0.2vw;
        width: 2vw;
    }
}


/******************** Mobile CSS ********************/
@media (min-width: 320px) and (max-width: 414px) {
    #main {
        padding-top: 30vw;
    }

    .section {
        padding: 0 4vw;
    }

    .section-header {
        font-size: var(--header-mobile);
        margin: 1.6vw 0;
    }

    .section-sub-header {
        font-size: var(--sub-header-mobile);
        margin: 2vw 0 0.4vw 0;
    }

    .section-content {
        font-size: var(--content-size);
    }

    #downloader-section {
        height: 22vh;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }

    .download-btn {
        display: grid;
        grid-template-columns: repeat(2, auto);
        height: 12vw;
        
    }
    
    .download-text {
        margin-left: 6vw;
        padding: 1.8vw;
        font-size: 4vw;
        font-weight: 500;
    }

    .download-icon {
        width: 2vw;
        
        margin: auto 6vw auto 0;
    }
    
    .download-icon {
        width: 25px;
    }
}